h1 {
  color: red;
  text-align: left;
  font-size: 15pt
}

h3 {
    text-shadow: 2px 2px 4px rgb(81, 77, 195);
    font-size: 20px;
    color: #c9cf7d;
}

h4 {
    text-shadow: 2px 2px 4px rgb(81, 77, 195);
    font-size: 20px;
    color: #c9cf7d;
}

h5 {
    text-shadow: 2px 2px 4px rgb(81, 77, 195);
    font-size: 20px;
    color: #c9cf7d;
}

#article h2 {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    border-bottom: 1px solid var(--theme-border-color);
    font-size: 30px;
    font-weight: 500;
    overflow: auto;
    padding: 6px 0;
    margin: 18px 0 9px;
}
#article .my-flex-container .my-div-block h2{
  text-align: center;
}
body {
  background-color: lightgrey;
  background-image: url(../Picture/bg/index-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #333;
}

body.index-page {
  background-image: url(../Picture/bg/freljord.jpg);
}
body.story-page {
  background-image: url(../Picture/bg/udyr-freljordf.jpg);
}
#grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article article"
        "footer footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}

#grid-container.hide-nav-grid{
  grid-template-areas:
      "header header header"
      "article article article"
      "footer footer footer";
}

#header-container {
    grid-area: header;
}

#nav {
  grid-area: nav;
  width: 250px;
  height: 250px;
  background: hsla(0, 0%, 0%, 0.8);
  display: inline-block;
  float: left;
  position: sticky;
  top: 50px;

  /* position: fixed; */
}

#article {
  grid-area: article;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.4);
}

#footer {
  grid-area: footer;
  height: 125px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px 0;
}

#footer span {
  font-size: 15px;
  background: #000;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.hero{
  padding: 0px;
  margin:0 auto;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: verdana;
  color: blueviolet;
  font-size: 20px;
  text-align: center;
}

div {
  display: block;
}

/*kitty header*/

.header nav a {
  font-family: sans-serif;
  display: inline-block;
  color: rgb(81, 77, 195);
  font-size: 24px;
  padding: 10px;
  text-align: center;
}


.header {

  display: flex;
  background: rgba(0, 0, 0, 0.9);

}

.header a {

  text-decoration: none;
}


.header nav {

  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;

}

.header nav a:hover {

  text-decoration: underline;
  text-underline-offset: 5px;

}

/*table*/

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

/*side nav */

#articles-nav-container {
  float: left;
  font-size: .8em;
  /* width: 130px; */
  width: 100%;
}

#articles-nav {
    border-right: 1px solid #eee;
    padding-right: 15px;
    width: 100%;
}

#articles-nav-container #articles-nav nav {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

nav li {
  text-overflow: ellipsis;
  overflow: hidden;
  /* hidden point*/
  white-space: nowrap;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li.head {
  font-size: 20px;
  color: aqua;
}

nav li a {
  color: #76a33c;
  text-decoration: none;
}

/* article */

#article-width{
  width: 80%;
  display: inline-block;
}
.column-split{
  column-count: 2;
  column-gap: 20px;
  line-height: 2;
}

.my-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-div-block {
  width: 95%;
  background-color: rgba(0, 0, 0, 0.418);
  padding: 20px;
  border: 1px solid #ccc;
}

/* index */

#img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  display: none;
}

.video-wrapper video {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  object-fit: cover;
}

/* Responsive layout condition */

@media only screen and (max-width: 1200px) {
    #articles-nav-container {
        display: none;
    }

    #nav {
        display: none;
    }

    #grid-container {
        display:initial;

    }
    .column-split{
      column-count: 1;
    }
}

@media only screen and (max-width: 950px) {
    .inline-block {
        display: none;
    }
    .column-split{
      column-count: 1;
    }
}